@import "tailwindcss";
@import "uniwind";

@layer base {
  .font-inter {
    font-family: Inter_400Regular;
  }
  .font-inter-medium {
    font-family: Inter_500Medium;
  }
  .font-inter-semibold {
    font-family: Inter_600SemiBold;
  }
  .font-inter-bold {
    font-family: Inter_700Bold;
  }
}

@layer theme {
  :root {
    @variant dark {
      --color-background: oklch(0.145 0 0);
      --color-background-secondary: oklch(0.168 0 0);
      --color-card: oklch(0.205 0 0);
      --color-card-foreground: oklch(0.985 0 0);

      --color-foreground: oklch(0.985 0 0);
      --color-foreground-secondary: oklch(0.708 0 0);
      --color-muted: oklch(0.269 0 0);
      --color-muted-foreground: oklch(0.708 0 0);

      --color-border: oklch(1 0 0 / 10%);
      --color-input: oklch(1 0 0 / 15%);

      --color-primary: oklch(0.705 0.213 47.604);
      --color-primary-foreground: oklch(0.98 0.016 73.684);

      --color-destructive: #ef4444;
      --color-destructive-foreground: #ffffff;

      --color-success: oklch(0.696 0.17 162.48);
      --color-warning: oklch(0.769 0.188 70.08);

      --color-ring: oklch(0.705 0.213 47.604);

      --color-expense: oklch(0.704 0.191 22.216);
      --color-income: oklch(0.696 0.17 162.48);
    }

    @variant light {
      --color-background: oklch(1 0 0);
      --color-background-secondary: oklch(0.97 0 0);
      --color-card: oklch(1 0 0);
      --color-card-foreground: oklch(0.145 0 0);

      --color-foreground: oklch(0.145 0 0);
      --color-foreground-secondary: oklch(0.556 0 0);
      --color-muted: oklch(0.97 0 0);
      --color-muted-foreground: oklch(0.556 0 0);

      --color-border: oklch(0.922 0 0);
      --color-input: oklch(0.922 0 0);

      --color-primary: oklch(0.646 0.222 41.116);
      --color-primary-foreground: oklch(0.98 0.016 73.684);

      --color-destructive: #dc2626;
      --color-destructive-foreground: #ffffff;

      --color-success: oklch(0.723 0.191 142.495);
      --color-warning: oklch(0.769 0.188 70.08);

      --color-ring: oklch(0.646 0.222 41.116);

      --color-expense: oklch(0.58 0.22 27);
      --color-income: oklch(0.723 0.191 142.495);
    }
  }
}
